{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != null
      assign ratio = media_aspect_ratio
    endif

    assign button_type = 'hidden'
    assign button_icon = false
    if settings.card_button_type == 'outline'
      assign button_type = 'button button--outline'
      assign button_icon = false
    endif

    if settings.card_button_type == 'inline'
      assign button_type = 'link link-with-icon'
      assign button_icon = true
    endif

    if settings.card_button_type == 'regular_button'
      assign button_type = 'button'
      assign button_icon = false
    endif
  -%}
  <div class="article-card-wrapper card-wrapper scroll-trigger animate--slide-in cart-{{ settings.blog_card_text_alignment }}">
    <div class="card article-card {{ settings.blog_card_bg }} card--{{ settings.blog_card_style }} {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% else %} media-adapt{% endif %} {% if article.image and show_image %} card--media{% else %} card--text{% endif %} {%- if show_badge_bottom == false -%} badge-no-after-image{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">

      <div class="card__inner ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">

        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div class="article-card__image media media--hover-effect"
              {% if section.settings.media_height == 'adapt' %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}>
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}             
              <img srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165, format: 'webp' }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360, format: 'webp' }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533, format: 'webp' }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720, format: 'webp' }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000, format: 'webp' }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500, format: 'webp' }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url: format: 'webp' }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533, format: 'webp' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}" height="{{ article.image.height }}">

              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>  
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">

            <h3 class="card__heading h5 text-weight-{{ settings.blog_card_heading_weight }} text-color-{{ settings.card_heading_color }} text-color-{{ settings.card_heading_color_hover }}-hover">
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{- article.title | truncate: 80 | escape -}}
              </a>
            </h3>

            {%- if show_date or show_author -%}
              <div class="article-card__info caption-with-letter-spacing h5 text-color-{{ settings.card_text_color }}">
                {%- if show_date -%}
                  <span>
                    {{ article.published_at | time_tag: format: 'date' }}
                  </span>
                {%- endif -%}

                {%- if show_mins and info_label != blank -%}
                  <span>
                    {{ info_label }}
                  </span>
                {%- endif -%}

                {%- if show_author -%}
                  <span>
                    {{ article.author }}
                  </span>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if show_excerpt -%}
              {%- if article.excerpt_or_content.size > 0 -%}
                <p class="article-card__excerpt {% if show_excerpt_first %}show-first {% endif %} rte-width text-color-{{ settings.card_text_color }}">
                  {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
                </p>
              {%- endif -%}

              {%- if article.comments_count > 0 -%}
                <div class="article-card__footer text-color-{{ settings.card_text_color }}">
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>

          {%- if show_badge and article.tags.size > 0 and show_badge_bottom == false -%}
            <div class="card__badge top left">
              {% for item in article.tags %}
                <a href="{{ blog.url }}/tagged/{{ item.handle }}" class="badge background--sale text-color-{{ settings.sale_text_color }}">
                  {{ item }}
                </a>
              {% endfor %}
            </div>
          {%- endif -%}
        </div>

        <a href="{{ article.url }}" class="full-unstyled-link" aria-label="{{- article.title | truncate: 80 | escape -}}"> </a>
      </div> 
      
      <div class="card__content">
        <div class="card__information">
					{%- if show_badge and article.tags.size > 0 and settings.mood_type != 'mood6' -%}	
						<div class="card__badge after_image">
							{% for item in article.tags %}
							<a href="{{ blog.url }}/tagged/{{ item.handle }}" class="badge background--sale text-color-{{ settings.sale_text_color }}">
								{{ item }}
							</a>
							{% endfor %}
						</div>
					{%- endif -%}

          {%- if show_above == true and show_date or show_mins -%}
            <div class="article-card__info info-above text-color-{{ settings.card_text_color }}">
				
						{%- if show_badge and article.tags.size > 0 and show_badge_bottom and settings.mood_type == 'mood6' -%} 
						
							<div class="card__badge after_image">
								{% for item in article.tags %}
									<a href="{{ blog.url }}/tagged/{{ item.handle }}" class="badge background--sale text-color-{{ settings.sale_text_color }}">
										{{ item }}
									</a>
								{% endfor %}
							</div>

							{% render 'icon-dot-mood6' %}
						{%- endif -%}

              {%- if show_date -%}
                <span>
                  {{ article.published_at | time_tag: format: 'date' }}
                </span>
              {%- endif -%}

              {%- if show_mins and info_label != blank -%}
                <span>
                  {{ info_label }}
                </span>
              {%- endif -%}
            </div>
          {%- endif -%}


          {%- if show_above == false and show_badge and show_badge_bottom and show_date or show_mins -%}
            <div class="article-card__info info-above text-color-{{ settings.card_text_color }}">
				
						{%- if show_badge and article.tags.size > 0 and show_badge_bottom and settings.mood_type == 'mood6' -%} 
							
							<div class="card__badge after_image">
								{% for item in article.tags %}
									<a href="{{ blog.url }}/tagged/{{ item.handle }}" class="badge background--sale text-color-{{ settings.sale_text_color }}">
										{{ item }}
									</a>
								{% endfor %}
							</div>
							{%- if show_mins and info_label != blank -%}
								{% render 'icon-dot-mood6' %}
							{%- endif -%}
						{%- endif -%}

						{%- if show_mins and info_label != blank -%}
							<span>
								{{ info_label }}
							</span>
						{%- endif -%}
            </div>
          {%- endif -%}

          <h3 class="card__heading text-weight-{{ settings.blog_card_heading_weight }} {% if template == 'search' %}h6{% else %} {{ settings.blog_card_heading_size }} {% endif %} text-color-{{ settings.card_heading_color }} text-color-{{ settings.card_heading_color_hover }}-hover">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{- article.title | truncate: 80 | escape -}}
            </a>
          </h3>

          {%- if show_excerpt -%}
            {%- if article.excerpt_or_content.size > 0 -%}
              <p class="article-card__excerpt {% if show_excerpt_first %}show-first {% endif %} rte-width text-color-{{ settings.card_text_color }}">
								{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
              </p>
            {%- endif -%}
          {%- endif -%}

          {%- if show_date or show_author or show_mins -%}
            <div class="article-card__info article-card__info--bellow text-color-{{ settings.card_text_color }}">
              {%- if show_author -%}
                <span>
                  {% if author_prefix != blank %}
                    {{ author_prefix }}
                  {% endif %}
                  {{ article.author }}
                </span>
              {%- endif -%}
              
              {%- if show_date and show_above != true -%}
                <span>
                  {{ article.published_at | time_tag: format: 'date' }}
                </span>
              {%- endif -%}

              {%- if show_mins and show_above != true and info_label != blank and settings.mood_type != 'mood6' -%}
                <span>
                  {{- info_label -}}
                </span>
              {%- endif -%}		  
            </div>
          {%- endif -%}
          
          {%- if article.comments_count > 0 and article.comments_enabled? and show_comments -%}
            <div class="article-card__footer text-color-{{ settings.card_text_color }}">
              <span>
                {{- 'blogs.article.comments' | t: count: article.comments_count -}}
              </span>
            </div>
          {%- endif -%}

          {%- if author_link != blank -%}
            <a href="{{ article.url }}" class="article-link {{ button_type }}">
              {{ author_link }}
              {%- if button_icon and settings.mood_type != 'mood6' -%}
                {% render 'icon-arrow-link' %}
              {%- endif -%}
              {%- if button_icon and settings.mood_type == 'mood6' -%}
                {% render 'icon-arrow-mood6' %}
              {%- endif -%}
            </a>
          {%- endif -%}

        </div>
      </div>
    </div>
  </div>
{%- endif -%}
