<div id="block-{{ block.id }}" class="block-image{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade{% endif %} {% if settings.animations_reveal_on_scroll %}style="--animation-order: {{ forloop.index }};"{% endif %} {{ block.shopify_attributes }}>

  {{ 'block-image.css' | asset_url | stylesheet_tag }}

  <style>
    #block-{{ block.id }}.block-image {
      width: {{ block.settings.image_width }}%;

			{% if block.settings.enable_border_radius %}
				--border-radius: {{ block.settings.border_radius }}px;
			{% endif %}
		}

	</style>
  
  <div class="block-image-media">
    {%- if block.settings.image != blank -%}

      {%- assign widths = '165, 360, 535, 750' -%}
      {%- capture sizes -%}
        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
      {%- endcapture -%}

      {{
        block.settings.image
        | image_url: width: 750
        | image_tag: loading: 'lazy', 
        sizes: sizes, 
        alt: block.settings.image.alt,
        widths: widths
      }}

    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {%- endif -%}
  </div>
</div>