{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

  Usage:
  {% render 'complimentary-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 100
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 118
		elsif card_product.featured_media and media_aspect_ratio == 'tallview'
      assign ratio = 138
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div class="card card--standard{% if card_product.featured_media %} card--media{% else %} card--text{% endif %}{% if extend_height %} card--extend-height{% endif %}{% if horizontal_class %} card--horizontal{% endif %}"
      style="{% if media_aspect_ratio == 'adapt' %}--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;{% else %}--ratio-percent: {{ ratio }}%;{% endif %}">
      <div class="card__inner ratio"  style="{% if media_aspect_ratio == 'adapt' %}--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;{% else %}--ratio-percent: {{ ratio }}%;{% endif %}">
        {%- if card_product.featured_media -%}
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165, format: 'webp' }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360, format: 'webp' }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533, format: 'webp' }} 533w,{%- endif -%}
                  {{ card_product.featured_media | image_url: format: 'webp' }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | image_url: width: 533, format: 'webp' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"  height="{{ card_product.featured_media.height }}">
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
            <a href="{{ card_product.url }}" class="content-link" aria-label="Link to {{ card_product.title | escape }}" aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"> </a>
          </div>
        {%- endif -%}
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading {% if settings.mood_type != 'mood4' %} {{ settings.product_card_heading_size }} {% else %} text-body--small{% endif %} text-weight-{{ settings.product_card_heading_weight }}" id="title-{{ section_id }}-{{ card_product.id }}">
            <a href="{{ card_product.url }}" id="CardLink-{{ section_id }}-{{ card_product.id }}" class="full-unstyled-link" aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}">
              {{ card_product.title | escape }}
            </a>
          </h3>
          {% render 'price', product: card_product, price_class: '' %}
          {%- if show_quick_add -%}
            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
                assign add_to_cart = false
                if show_add_to_cart == true
                  assign add_to_cart = true
                endif
              -%}
              {%- if add_to_cart != true and card_product.variants.size > 1 or qty_rules -%}
                <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                  <button id="{{ product_form_id }}-submit" type="submit" name="add" class="quick-add__submit{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %} {% if settings.mood_type == 'mood6' %}link link-with-icon{% endif %}" aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" data-product-url="{{ card_product.url }}">
                    <span>
                      {{ 'products.product.choose_options' | t }}
                    </span>

                    {% if settings.mood_type == 'mood6' %}
                      {% render 'icon-arrow-mood6' %}
                    {% endif %}

                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                </modal-opener>
                <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                  <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                    aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">

                    <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
                      {% render 'icon-close' %}
                    </button>

                    <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                  </div>
                </quick-add-modal>
              {%- else -%}
                <product-form>
                  {%- form 'product',
                    card_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                    <button id="{{ product_form_id }}-submit" type="submit" name="add"
                      class="quick-add__submit{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %} {% if settings.mood_type == 'mood6' %}link link-with-icon{% endif %}"
                      aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                      aria-live="polite" data-sold-out-message="true"
                      {% if card_product.selected_or_first_available_variant.available == false %} disabled{% endif %}>
                        <span>
                          {%- if card_product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                            
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>                      
                      <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                      </span>

                      {% if settings.mood_type == 'mood6' %}
                        {% render 'icon-arrow-mood6' %}
                      {% endif %}

                      <div class="loading-overlay__spinner hidden">
                        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                  {%- endform -%}
                </product-form>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}