<div id="block-{{ block.id }}" class="featured-icon{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade{% endif %} {% if settings.animations_reveal_on_scroll %}style="--animation-order: {{ forloop.index }};"{% endif %} {{ block.shopify_attributes }}>
  <style>
    #block-{{ block.id }}.featured-icon {
      width: {{ block.settings.icon_width }}%;
    }
  </style>

  {{ 'featured-icon.css' | asset_url | stylesheet_tag }}

  <div class="featured-image">
    {%- if block.settings.featured_icon != blank -%}
      {{
        block.settings.featured_icon
        | image_url: width: 200
        | image_tag: loading: 'lazy', 
        alt: block.settings.featured_icon.alt
      }}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  {%- if block.settings.featured_icon_text != blank -%}
    <span class='featured-icon__title rte text-color-{{ block.settings.featured_icon_text_color }}'>
      {{ block.settings.featured_icon_text }}
    </span>
  {%- endif -%}
</div>