{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<details id="Details-HeaderMenu-{{ forloop.index }}">
  <summary id="HeaderMenu-{{ link.handle }}" class="header__menu-item list-menu__item link focus-inset {% if link.child_active and section.settings.active_menu_icon != blank %} active-with-icon{% endif %}">
    <span {%- if link.child_active %} class="header__active-menu-item {%- if section.settings.active_menu_icon != blank %} active-with-icon {% endif %}"{% endif %}>
      {{- link.title | escape -}}
    </span>
    {% render 'icon-caret' %}
	{%- if section.settings.active_menu_icon != blank and link.child_active -%}
		<img srcset="
		{{ section.settings.active_menu_icon | image_url }}"
		src="{{ section.settings.active_menu_icon | image_url: width: 1920 }}"
		loading="lazy"
		class="header__active-menu-item-icon"
		height="13"
		width="13">
		{%- endif -%}
  </summary>

  <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce global-settings-popup {{ section.settings.background_color }}" role="list" tabindex="-1">
    {%- for childlink in link.links -%}
      <li>
        {%- if childlink.links == blank -%}
          <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}" {% if childlink.current %}aria-current="page"{% endif %}>
            {{ childlink.title | escape }}
          </a>
        {%- else -%}
          <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
            <summary id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" class="header__menu-item link link--text list-menu__item focus-inset caption-large">
              <span>
                {{ childlink.title | escape }}
              </span>
              {% render 'icon-caret' %}
            </summary>
            <ul id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}" class="header__submenu list-menu motion-reduce">
              {%- for grandchildlink in childlink.links -%}
                <li>
                  <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}" href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}" {% if grandchildlink.current %} aria-current="page"{% endif %}>
                    {{ grandchildlink.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </details>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</details>