{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
<summary id="HeaderMenu-{{ link.handle }}" class="header__menu-item list-menu__item link focus-inset {% if link.child_active and section.settings.active_menu_icon != blank %} active-with-icon{% endif %}">
    <span {%- if link.child_active %} class="header__active-menu-item {% if section.settings.active_menu_icon != blank %} active-with-icon {% endif %}"{% endif %}>
      {{- link.title | escape -}}
    </span>
    {% render 'icon-caret' %}
	{%- if section.settings.active_menu_icon != blank and link.child_active -%}
	<img srcset="
	{{ section.settings.active_menu_icon | image_url: format: 'webp' }}"
	src="{{ section.settings.active_menu_icon | image_url: width: 1920, format: 'webp' }}"
	loading="lazy"
	class="header__active-menu-item-icon"
	height="13"
    width="13">
	{%- endif -%}
	
  </summary>

  <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup with-image {{ section.settings.background_color }}" tabindex="-1">
    {% if section.settings.mm_overlay != blank %}
      <img srcset="
          {%- if section.settings.mm_overlay.width >= 535 -%}{{ section.settings.mm_overlay | image_url: width: 535, format: 'webp' }} 535w,{%- endif -%}
          {%- if section.settings.mm_overlay.width >= 750 -%}{{ section.settings.mm_overlay | image_url: width: 750, format: 'webp' }} 750w,{%- endif -%}
          {%- if section.settings.mm_overlay.width >= 1150 -%}{{ section.settings.mm_overlay | image_url: width: 1150, format: 'webp' }} 1150w,{%- endif -%}
          {%- if section.settings.mm_overlay.width >= 1250 -%}{{ section.settings.mm_overlay | image_url: width: 1250, format: 'webp' }} 1250w,{%- endif -%}
          {%- if section.settings.mm_overlay.width >= 1350 -%}{{ section.settings.mm_overlay | image_url: width: 1350, format: 'webp' }} 1350w,{%- endif -%}
          {{ section.settings.mm_overlay | image_url: format: 'webp' }} {{ section.settings.mm_overlay.width }}w"
        src="{{ section.settings.mm_overlay | image_url: width: 1920, format: 'webp' }}"
        sizes="(min-width: {{ settings.page_width }}px) 100vw, (min-width: 750px) calc(100vw - 10rem), calc(100vw - 3rem)"
        alt="{{ section.settings.mm_collection.title }}"
        height="{{ section.settings.mm_overlay.height }}"
        width="{{ section.settings.mm_overlay.width }}"
        loading="lazy"
        class="motion-reduce mm-overlay">
    {% endif %}

    <div class="mm-wrapp">
      <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %} with-image menu-size-{{ link.links.size }}" role="list">
        {%- for childlink in link.links -%}
          <li>
            <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}" {% if childlink.current %} aria-current="page"{% endif %}>
              {{ childlink.title | escape }}
            </a>
            {%- if childlink.links != blank -%}
              <ul class="list-unstyled" role="list">
                {%- for grandchildlink in childlink.links -%}
									{%- liquid
										if childlink.object.image != blank
											assign menu_image_2 = grandchildlink.object.image
										else
											assign menu_image_2 = grandchildlink.object.featured_image
										endif
									%}
                  <li>
                    <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}" href="{{ grandchildlink.url }}"
                      class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}" {% if menu_image_2 != blank %} data-image="{{ menu_image_2 | image_url: width: 600, format: 'webp' }}"{% endif %} {% if grandchildlink.current %} aria-current="page" {% endif %}>
                      {{ grandchildlink.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>

      {% if section.settings.mm_collection != blank %}
        <div class="mega-menu-image">
          <a href="{{ section.settings.mm_collection.url }}" aria-label="Link to {{ section.settings.mm_collection.title }}">
            <img srcset="{%- if section.settings.mm_collection.featured_image.width >= 535 -%}{{ section.settings.mm_collection.featured_image | image_url: width: 535, format: 'webp' }} 535w,{%- endif -%}{%- if section.settings.mm_collection.featured_image.width >= 750 -%}{{ section.settings.mm_collection.featured_image | image_url: width: 750, format: 'webp' }} 750w,{%- endif -%} {{ section.settings.mm_collection.featured_image | image_url: format: 'webp' }} {{ section.settings.mm_collection.featured_image.width }}w"
              src="{{ section.settings.mm_collection.featured_image | image_url: width: 700, format: 'webp' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
              alt="{{ section.settings.mm_collection.title }}"
              height="{{ section.settings.mm_collection.featured_image.height }}"
              width="{{ section.settings.mm_collection.featured_image.width }}"
              loading="lazy"
              class="motion-reduce mm-featured-image">
          </a>

          <a href="{{ section.settings.mm_collection.url }}" class="button">
            {{ section.settings.mm_collection.title }}
          </a>
        </div>
      {% elsif show_mm_image == true or section.settings.show_mm_image == true %}
        {% if section.settings.mm_image_shape == true %}
          {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
        {% endif %}

				<variant-megamenu-img class="{{ section.settings.image_ratio }} js-megaMenuImgWrp{% if section.settings.mm_image_shape == true %} image-shape{% endif %}">
					{% if section.settings.mega_menu_image != blank %}
            <img srcset="{%- if section.settings.mega_menu_image.width >= 535 -%}{{ section.settings.mega_menu_image | image_url: width: 535, format: 'webp' }} 535w, {%- endif -%}
                {%- if section.settings.mega_menu_image.width >= 750 -%}{{ section.settings.mega_menu_image | image_url: width: 750, format: 'webp' }} 750w, {%- endif -%}
                {{ section.settings.mega_menu_image | image_url: format: 'webp' }} {{ section.settings.mega_menu_image.width }}w"
              src="{{ section.settings.mega_menu_image | image_url: width: 700, format: 'webp' }}"
              sizes="
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                calc(100vw - 3rem)"
              alt="{{ section.settings.mega_menu_image.alt | escape }}"
              width="{{ section.settings.mega_menu_image.width }}"
              height="{{ section.settings.mega_menu_image.height }}"
              loading="lazy"
              class="motion-reduce mm-featured-image">
					{% else %}
						{{ 'product-1' | placeholder_svg_tag }}
					{% endif %}
				</variant-megamenu-img>
      {% endif %}
    </div>
  </div>
</details>
