{%- comment -%}
  Renders the pincode validator block.
  Accepts:
  - block: {Object} passing the block information.
{%- endcomment -%}

{{ 'component-pincode-validator.css' | asset_url | stylesheet_tag }}

<div class="pincode-validator-wrapper" data-block-id="{{ block.id }}" data-csv-url="{{ block.settings.csv_url }}" {{ block.shopify_attributes }}>
  <div class="pincode-validator__label">Enter Pincode</div>
  
  <div class="pincode-validator__box">
    <svg class="pincode-search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M21 21L16.65 16.65" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <input type="text" class="pincode-validator__input" placeholder="Enter Pincode" />
    <button type="button" class="pincode-validator__btn">Check</button>
  </div>
  
  <div class="pincode-validator__message hidden"></div>

  <script type="application/json" class="pincode-validator-data">
    {{ block.settings.pincode_list | json }}
  </script>
</div>

<script src="{{ 'pincode-validator.js' | asset_url }}" defer="defer"></script>

<!-- Global Toast for Warning messages -->
<div id="pincode-toast" class="pincode-toast hidden">
  <div class="pincode-toast__inner">
    <svg class="pincode-toast__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    <div class="pincode-toast__text">{{ block.settings.warning_message }}</div>
    <button type="button" class="pincode-toast__close" aria-label="Close Toast">&times;</button>
  </div>
</div>
