{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>


{% assign canonical_url = canonical_url %}
{% if request.page_type != "product" %}
  {% assign canonical_url = share_link %}
{% endif %}

<share-button id="Share-{{ section.id }}" class="share-button share-product text-color-{{ social_color }} text-color-{{ social_color_hover }}-hover" {{ block.shopify_attributes }}>

  <button class="share-button__button hidden">
    {{ block.settings.share_label | escape }}
    {% render 'icon-product-share' %}
  </button>

  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {{ block.settings.share_label | escape }}
      {% render 'icon-product-share' %}
    </summary>

    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input type="text" class="field__input" id="ShareUrl-{{ section.id }}" value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}" onclick="this.select();" readonly>
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>

  {% if block.settings.show_linkedin_share %}
    <a class="share-button__button" href="https://www.linkedin.com/sharing/share-offsite/?url={{ canonical_url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-linkedin' %}
    </a>
  {% endif %}

  {% if block.settings.show_fb_share %}
    <a class="share-button__button" href="https://www.facebook.com/sharer.php?u={{ canonical_url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-facebook' %}
    </a>
  {% endif %}

  {% if block.settings.show_twitter_share %}
    <a class="share-button__button" href="https://twitter.com/intent/tweet?text={{ product.title | escape }}&url={{ canonical_url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-twitter' %}
    </a>
  {% endif %}

  {% if block.settings.show_pinterest_share %}
    <a class="share-button__button" href="https://www.pinterest.com/pin/create/button/?guid=w7dEew2ynTe1-1&url={{ canonical_url }}&media={{ product.featured_image | image_url: width: 1500, format: 'webp' }}&description={{ product.title | escape }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-pinterest' %}
    </a>
  {% endif %}

  {% if block.settings.show_telegram_share %}
    <a class="share-button__button" href="https://t.me/share/url?url={{ canonical_url }}&text={{ product.title | escape }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-telegram' %}
    </a>
  {% endif %}

  {% if block.settings.show_snapchat_share %}
    <a class="share-button__button" href="https://www.snapchat.com/scan?attachmentUrl={{ canonical_url }}&utm_source=sharethis" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-snapchat' %}
    </a>
  {% endif %}

  {% if block.settings.show_tumblr_share %}
    <a class="share-button__button" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ canonical_url }}&title={{ product.title | escape }}&caption={{ product.excerpt | escape }}" target="_blank" rel="noopener noreferrer" aria-label="{{ canonical_url }}">
      {% render 'icon-tumblr' %}
    </a>
  {% endif %}
</share-button>
