{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  assign gallery_section_id = section_id | default: section.id

  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.60
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.50
  elsif section.settings.media_size == 'small'
    assign media_width = 0.40
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<media-gallery id="MediaGallery-{{ gallery_section_id }}{{ id_append }}" role="region" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
	
  <div id="GalleryStatus-{{ gallery_section_id }}" class="visually-hidden" role="status"></div>

  <slider-component id="GalleryViewer-{{ gallery_section_id }}{{ id_append }}" class="main-slider slider-mobile-gutter">
    {%- unless is_duplicate -%}
      <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ gallery_section_id }}">
        {{ 'accessibility.skip_to_product_info' | t }}
      </a>
    {%- endunless -%}

    <ul id="Slider-Gallery-{{ gallery_section_id }}{{ id_append }}" class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile" role="list">
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <li id="Slide-{{ gallery_section_id }}-{{ featured_media.id }}{{ id_append }}" class="product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" data-media-id="{{ gallery_section_id }}-{{ featured_media.id }}">
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail',
              media: featured_media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: gallery_section_id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: false
            %}
        </li>

      {% elsif product == blank %}
        <li class="product__media-item grid__item is-active">
          <div class="product-media-container global-media-settings gradient" style="--ratio: 1.0; --preview-ratio: 1.0;">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
        </li>
      {% endif %}

      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li id="Slide-{{ gallery_section_id }}-{{ media.id }}{{ id_append }}" class="product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" data-media-id="{{ gallery_section_id }}-{{ media.id }}">

            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: gallery_section_id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              media_aspect_ratio: section.settings.image_ratio,
              lazy_load: lazy_load
            %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </slider-component>

  {%- if first_3d_model -%}
    <button class="button button--full-width product__xr-button" type="button" aria-label="{{ 'products.product.xr_button_label' | t }}" data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}" data-shopify-title="{{ product.title | escape }}" data-shopify-xr-hidden>
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}

  {%- if media_count > 1
    and section.settings.gallery_layout contains 'thumbnail'
    or section.settings.mobile_thumbnails == 'show'
    or section.settings.gallery_layout == "dots"
  -%}

    <slider-component id="GalleryThumbnails-{{ gallery_section_id }}{{ id_append }}" class="thumbnail-slider slider-mobile-gutter {% unless section.settings.gallery_layout contains 'thumbnail' or section.settings.gallery_layout == "dots" %} medium-hide large-up-hide{% endunless %}{% if section.settings.mobile_thumbnails != 'show' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}">

      <ul id="Slider-Thumbnails-{{ gallery_section_id }}{{ id_append }}" class="thumbnail-list list-unstyled slider slider--mobile{% if section.settings.gallery_layout == 'thumbnail_slider' or section.settings.gallery_layout == "dots" %} slider--tablet-up{% endif %}">

        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
          (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)
        {%- endcapture -%}

        {%- if featured_media != null -%}
          {%- liquid
            capture media_index
              if featured_media.media_type == 'model'
                increment model_index
              elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                increment video_index
              elsif featured_media.media_type == 'image'
                increment image_index
              endif
            endcapture
            assign media_index = media_index | plus: 1
          -%}

          <li id="Slide-Thumbnails-{{ gallery_section_id }}-0{{ id_append }}" class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %}" data-target="{{ gallery_section_id }}-{{ featured_media.id }}" data-media-position="{{ media_index }}">

            {%- capture thumbnail_id -%}
              Thumbnail-{{ gallery_section_id }}-0{{ id_append }}
            {%- endcapture -%}

            <button class="thumbnail global-media-settings global-media-settings--no-shadow"
              aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
              aria-current="true" aria-controls="GalleryViewer-{{ gallery_section_id }}{{ id_append }}" aria-describedby="{{ thumbnail_id }}" tabindex="0">

              {{
                featured_media.preview_image
                | image_url: width: 416
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '54, 74, 104, 162, 208, 324, 416',
                  id: thumbnail_id,
                  alt: featured_media.preview_image.alt
                | escape
              }}
              
            </button>
          </li>
        {%- endif -%}

        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            {%- liquid
              capture media_index
                if media.media_type == 'model'
                  increment model_index
                elsif media.media_type == 'video' or media.media_type == 'external_video'
                  increment video_index
                elsif media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}

            <li id="Slide-Thumbnails-{{ gallery_section_id }}-{{ forloop.index }}{{ id_append }}" class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}" data-target="{{ gallery_section_id }}-{{ media.id }}" data-media-position="{{ media_index }}">

              {%- if media.media_type == 'model' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}

              {%- capture thumbnail_id -%}
                Thumbnail-{{ gallery_section_id }}-{{ forloop.index }}{{ id_append }}
              {%- endcapture -%}
              
              <button class="thumbnail global-media-settings global-media-settings--no-shadow"
                aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}" {% if media == product.selected_or_first_available_variant.featured_media or product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} aria-current="true" {% endif %} aria-controls="GalleryViewer-{{ gallery_section_id }}{{ id_append }}" aria-describedby="{{ thumbnail_id }}" tabindex="0">

                {{
                  media.preview_image
                  | image_url: width: 416
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    id: thumbnail_id,
                    alt: media.preview_image.alt
                  | escape
                }}
                
              </button>
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </slider-component>

  {%- endif -%}

  <script>
    function addScroll() {
      const scrollElement = document.getElementById('Slider-Thumbnails-{{ gallery_section_id }}{{ id_append }}');
  
      if (scrollElement) {
        let pos = { top: 0, left: 0, x: 0, y: 0 };
    
        const mouseDownHandler = function (e) {
          scrollElement.style.cursor = 'grabbing';
          scrollElement.style.userSelect = 'none';
    
          pos = {
              left: scrollElement.scrollLeft,
              top: scrollElement.scrollTop,
              // Get the current mouse position
              x: e.clientX,
              y: e.clientY,
          };
    
          document.addEventListener('mousemove', mouseMoveHandler);
          document.addEventListener('mouseup', mouseUpHandler);
        };
    
        const mouseMoveHandler = function (e) {
          // How far the mouse has been moved
          const dx = e.clientX - pos.x;
          const dy = e.clientY - pos.y;
    
          // Scroll the element
          scrollElement.scrollTop = pos.top - dy;
          scrollElement.scrollLeft = pos.left - dx;
        };
    
        const mouseUpHandler = function () {
          scrollElement.style.removeProperty('user-select');
          document.removeEventListener('mousemove', mouseMoveHandler);
          document.removeEventListener('mouseup', mouseUpHandler);
        };
    
        // Attach the handler
        scrollElement.addEventListener('mousedown', mouseDownHandler);
      }
    }
    document.addEventListener('DOMContentLoaded', addScroll);
  
    addScroll()
  </script>
  
</media-gallery>
