<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign header_font_bold = settings.type_header_font | font_modify: 'weight', 'bold'
      assign header_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
      assign header_font_bold_italic = header_font_bold | font_modify: 'style', 'italic'

      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_bold | font_face: font_display: 'swap' }}
      {{ header_font_italic | font_face: font_display: 'swap' }}
      {{ header_font_bold_italic | font_face: font_display: 'swap' }}

      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

				--font-heading-hero-size: {{ settings.heading_hero_size | divided_by: 10.00 }}rem;
        --font-heading-hero-size-mb: {{ settings.heading_hero_size_mb | divided_by: 10.00 }}rem;
				--font-heading-1-size: {{ settings.heading_1_size | divided_by: 10.00 }}rem;
        --font-heading-1-size-mb: {{ settings.heading_1_size_mb | divided_by: 10.00 }}rem;
        --font-heading-2-size: {{ settings.heading_2_size | divided_by: 10.00 }}rem;
        --font-heading-2-size-mb: {{ settings.heading_2_size_mb | divided_by: 10.00 }}rem;
        --font-heading-3-size: {{ settings.heading_3_size | divided_by: 10.00 }}rem;
        --font-heading-3-size-mb: {{ settings.heading_3_size_mb | divided_by: 10.00 }}rem;
        --font-heading-4-size: {{ settings.heading_4_size | divided_by: 10.00 }}rem;
        --font-heading-4-size-mb: {{ settings.heading_4_size_mb | divided_by: 10.00 }}rem;
        --font-heading-5-size: {{ settings.heading_5_size | divided_by: 10.00 }}rem;
        --font-heading-5-size-mb: {{ settings.heading_5_size_mb | divided_by: 10.00 }}rem;
        --font-heading-6-size: {{ settings.heading_6_size | divided_by: 10.00 }}rem;
        --font-heading-6-size-mb: {{ settings.heading_6_size_mb | divided_by: 10.00 }}rem;

        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-secondary-text: {{ settings.colors_secondary_text.red }}, {{ settings.colors_secondary_text.green }}, {{ settings.colors_secondary_text.blue }};
        --color-base-heading: {{ settings.colors_heading.red }}, {{ settings.colors_heading.green }}, {{ settings.colors_heading.blue }};
        --color-secondary-heading: {{ settings.colors_secondary_heading.red }}, {{ settings.colors_secondary_heading.green }}, {{ settings.colors_secondary_heading.blue }};

        --colors-background-main: {{ settings.colors_background_main.red }}, {{ settings.colors_background_main.green }}, {{ settings.colors_background_main.blue }};
        --colors-background-section-1: {{ settings.colors_background_section_1.red }}, {{ settings.colors_background_section_1.green }}, {{ settings.colors_background_section_1.blue }};
        --colors-background-section-2: {{ settings.colors_background_section_2.red }}, {{ settings.colors_background_section_2.green }}, {{ settings.colors_background_section_2.blue }};
        --colors-background-section-3: {{ settings.colors_background_section_3.red }}, {{ settings.colors_background_section_3.green }}, {{ settings.colors_background_section_3.blue }};
        --colors-background-section-4: {{ settings.colors_background_section_4.red }}, {{ settings.colors_background_section_4.green }}, {{ settings.colors_background_section_4.blue }};
        --colors-background-section-5: {{ settings.colors_background_section_5.red }}, {{ settings.colors_background_section_5.green }}, {{ settings.colors_background_section_5.blue }};

        --color-shadow: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_main.red }}, {{ settings.colors_background_main.green }}, {{ settings.colors_background_main.blue }};
        --color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        --color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: 0;
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: 0rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: 0rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: 0px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-font-size: {{ settings.buttons_font_size | divided_by: 10.00 }}rem;
        --buttons-font-size-mobile: {{ settings.buttons_font_size_mobile | divided_by: 10.00 }}rem;
        --buttons-font-weight: {{ settings.button_font_weight }};
        --buttons-text-transform: {{ settings.button_text_transform }};
        --buttons-border-size: {{ settings.buttons_border_thickness }}px;
        --buttons-border-radius: {{ settings.buttons_radius }}px;
        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: 1 }}{% else %}0{% endif %}px;

        --button-color-text: {{ settings.button_color_text.red }}, {{ settings.button_color_text.green }}, {{ settings.button_color_text.blue }};
        --button-color-bg: {{ settings.button_color_bg.red }}, {{ settings.button_color_bg.green }}, {{ settings.button_color_bg.blue }};
        --button-color-border: {{ settings.button_color_border.red }}, {{ settings.button_color_border.green }}, {{ settings.button_color_border.blue }};
        --button-color-text-hover: {{ settings.button_color_text_hover.red }}, {{ settings.button_color_text_hover.green }}, {{ settings.button_color_text_hover.blue }};
        --button-color-bg-hover: {{ settings.button_color_bg_hover.red }}, {{ settings.button_color_bg_hover.green }}, {{ settings.button_color_bg_hover.blue }};
        --button-color-border-hover: {{ settings.button_color_border_hover.red }}, {{ settings.button_color_border_hover.green }}, {{ settings.button_color_border_hover.blue }};
        --inline-button-color: {{ settings.inline_button_color.red }}, {{ settings.inline_button_color.green }}, {{ settings.inline_button_color.blue }};

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
    
    {% case settings.mood_type %}
      {% when 'mood5' %}
        {{ "theme-mood6.css" |  asset_url |  stylesheet_tag }}
		{% endcase %}

    {% case settings.mood_type %}
      {% when 'mood6' %}
        {{ "theme-mood6.css" | asset_url |stylesheet_tag }}
    {% endcase %}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient {{ settings.mood_type }}-mood">

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'main-password-footer' %}
    </footer>

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

  </body>
</html>