{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top | times: 0.53 | round: 0 }}px;
		padding-bottom: {{ section.settings.padding_bottom | times: 0.53 | round: 0 }}px;
	}

	@media screen and (min-width: 750px) and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% if section.settings.colors_background_section_gradient != blank %}
    .section-{{ section.id }}-padding {
      background: {{ section.settings.colors_background_section_gradient }};
    }
  {% endif %}
{%- endstyle -%}

{%- liquid
  if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank or section.settings.shape_type != 'none'
    assign section_overlay = true
  endif
-%}

<div class="section-{{ section.id }}-padding {% if section.settings.colors_background_section_gradient != blank %} gradient{% else %} {{ section.settings.background_color }}{% endif %}{% if section_overlay == true %} section-overlay{% endif %}">

  {%- if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank -%}
    {% render 'section-overlay' %}
  {%- endif -%}

  {%- if section.settings.shape_type != 'none' -%}
    {% render 'shape',
      position: section.settings.shape_position, 
      type: section.settings.shape_type, 
      color: section.settings.shape_color,
      width: section.settings.shape_width
    %}
  {%- endif -%}

  <div class="contact page-width page-width--narrow">
    {%- if section.settings.heading != blank or section.settings.text != blank -%}
      <div class="title-wrapper {{ section.settings.heading_align }} {{ section.settings.text_bottom_space }}">

				{%- if section.settings.heading != blank -%}
					<h2 class="title inline-richtext {{ section.settings.heading_size }} text-color-{{ section.settings.heading_color }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-rotate-in{% endif %}">
						{{ section.settings.heading }}
					</h2>
				{%- else -%}
					<h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
				{%- endif -%}

				{%- if section.settings.text != blank -%}
          <div class="description rte {{ section.settings.text_body_size }} text-color-{{ section.settings.text_color }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.text -}}
          </div>
        {%- endif -%}
			</div>
		{%- endif -%}

    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- endif -%}

      <div class="field">
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          aria-required="true" required placeholder="{{ 'templates.contact.form.name' | t }}">

        <label class="field__label" for="ContactForm-name">
          {{ 'templates.contact.form.name' | t }}
          <span aria-hidden="true">*</span>
        </label>
      </div>

      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          required
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        <label class="field__label" for="ContactForm-email">
          {{- 'templates.contact.form.email' | t }}
          <span aria-hidden="true">*</span></label
        >
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </span>
          </small>
        {%- endif -%}
      </div>

      <div class="field">
        <input
          type="tel"
          id="ContactForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>

      {% if section.settings.textarea_text != blank %}
        <p class="field-textarea-label rte inline-richtext">
          {{ section.settings.textarea_text }}
        </p>
      {% endif %}

      <div class="field">
        <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[{{ 'templates.contact.form.comment' | t }}]" placeholder="{{ 'templates.contact.form.comment' | t }}" aria-required="true" required>
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          {{- 'templates.contact.form.comment' | t -}} 
          <span aria-hidden="true"> *</span>
        </label>
      </div>

      <div class="contact__button center">
        <button type="submit" class="button button--full-width">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>

      {% if section.settings.form_text != blank %}
        <p class="form-text center rte inline-richtext">
          {{ section.settings.form_text }}
        </p>
      {% endif %}

    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.additions"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "<strong>Contact form</strong>",
      "label": "t:sections.all.heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
		{
          "value": "h4",
          "label": "Extra small"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.all.colors.label_heading",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.description"
    },
    {
      "type": "select",
      "id": "text_body_size",
      "options": [
        {
          "value": "text-body--small",
          "label": "Small"
        },
        {
          "value": "text-body--medium",
          "label": "Medium"
        },
        {
          "value": "text-body--large",
          "label": "Large"
        }
      ],
      "default": "text-body--large",
      "label": "Text size"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "main",
      "label": "t:sections.all.colors.label_description",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_align.label__2"
    },
		{
      "type": "select",
      "id": "text_bottom_space",
      "options": [
        {
          "value": "",
          "label": "Small"
        },
        {
          "value": "mb-lg-6",
          "label": "Large"
        }
      ],
      "default": "",
      "label": "Text bottom space desktop"
    },
    {
      "type": "inline_richtext",
      "id": "textarea_text",
      "default": "Add A Message",
      "label": "Message text"
    },
    {
      "type": "inline_richtext",
      "id": "form_text",
      "default": "Fields Marked With A * Are Compulsory",
      "label": "Text under form"
    },
    {
      "type": "header",
      "content": "Section overlay"
    },
    {
      "type": "image_picker",
      "id": "image_overlay",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_2",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_2",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_3",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_3",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "header",
      "content": "t:sections.all.shape_divider.name"
    },
    {
      "type": "select",
      "id": "shape_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.shape_divider.settings.position_options.option_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.shape_divider.settings.position_options.option_2"
        },
        {
          "value": "both",
          "label": "t:sections.all.shape_divider.settings.position_options.option_3"
        }
      ],
      "default": "top",
      "label": "t:sections.all.shape_divider.settings.position"
    },
    {
      "type": "select",
      "id": "shape_type",
      "options": [
				{
          "value": "none",
          "label": "t:sections.all.shape_divider.settings.type_options.option_1"
        },
        {
          "value": "curve",
          "label": "t:sections.all.shape_divider.settings.type_options.option_2"
        },
        {
          "value": "curve-wide",
          "label": "Curve wide"
        },
        {
          "value": "curve-invert",
          "label": "t:sections.all.shape_divider.settings.type_options.option_3"
        },
        {
          "value": "waves",
          "label": "t:sections.all.shape_divider.settings.type_options.option_4"
        }
      ],
      "default": "none",
      "label": "t:sections.all.shape_divider.settings.type"
    },
    {
      "type": "color",
      "id": "shape_color",
      "default": "#fff",
      "label": "t:sections.all.shape_divider.settings.color"
    },
    {
      "type": "range",
      "id": "shape_width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.shape_divider.settings.width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "color-main-bg",
          "label": "t:settings_schema.colors.settings.colors_background_main.label"
        },
        {
          "value": "color-bg-1",
          "label": "t:settings_schema.colors.settings.colors_background_section_1.label"
        },
        {
          "value": "color-bg-2",
          "label": "t:settings_schema.colors.settings.colors_background_section_2.label"
        },
        {
          "value": "color-bg-3",
          "label": "t:settings_schema.colors.settings.colors_background_section_3.label"
        },
        {
          "value": "color-bg-4",
          "label": "t:settings_schema.colors.settings.colors_background_section_4.label"
        },
        {
          "value": "color-bg-5",
          "label": "t:settings_schema.colors.settings.colors_background_section_5.label"
        }
      ],
      "default": "color-bg-3",
      "label": "t:settings_schema.colors.settings.background_colors.content",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "id": "colors_background_section_gradient",
      "type": "color_background",
      "label": "t:settings_schema.colors.settings.colors_background_section_gradient.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 74
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 74
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
