{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'swiper.css' | asset_url | stylesheet_tag }}

{%- style -%}
	#shopify-section-{{ section.id }} {
		--padding-top: {{ section.settings.padding_top }}px;
		--padding-bottom: {{ section.settings.padding_bottom }}px;

		--arrows-clr: {{ section.settings.arrows_btn_color.red }}, {{ section.settings.arrows_btn_color.green }}, {{ section.settings.arrows_btn_color.blue }};
		--arrows-clr-hover: {{ section.settings.arrows_btn_color_hover.red }}, {{ section.settings.arrows_btn_color_hover.green }}, {{ section.settings.arrows_btn_color_hover.blue }};
		--arrows-bg: {{ section.settings.arrows_btn_bg_color.red }}, {{ section.settings.arrows_btn_bg_color.green }}, {{ section.settings.arrows_btn_bg_color.blue }};
		--arrows-bg-hover: {{ section.settings.arrows_btn_bg_color_hover.red }}, {{ section.settings.arrows_btn_bg_color_hover.green }}, {{ section.settings.arrows_btn_bg_color_hover.blue }};
	}

	{% if section.settings.colors_background_section_gradient != blank %}
        #shopify-section-{{ section.id }} .section-responsive-padding {
      background: {{ section.settings.colors_background_section_gradient }};
    }
  {% endif %}
{%- endstyle -%}

{%- liquid
  if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank or section.settings.shape_type != 'none'
    assign section_overlay = true
  endif

	assign button_type = 'button button--outline'
	assign button_icon = false
	if section.settings.button_type == 'inline'
		assign button_type = 'link link-with-icon'
		assign button_icon = true
	endif

  if section.settings.button_type == 'regular_button'
		assign button_type = 'button'
		assign button_icon = false
	endif

-%}

<div class="blog featured-blog gradient layout-{{ section.settings.layout }} {% if section.settings.heading == blank %} no-heading{% endif %} section-responsive-padding {{ section.settings.background_color }}{% if section_overlay == true %} section-overlay{% endif %}">

  {%- if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank -%}
    {% render 'section-overlay' %}
  {%- endif -%}

  {%- if section.settings.shape_type != 'none' -%}
    {% render 'shape',
      position: section.settings.shape_position, 
      type: section.settings.shape_type, 
      color: section.settings.shape_color,
      width: section.settings.shape_width
    %}
  {%- endif -%}

  <div class="page-width isolate">

    {%- if section.settings.heading != blank -%}
      <div class="title-wrapper-with-link title-wrapper--no-top-margin {{ section.settings.heading_align }} {{ section.settings.heading_bottom_space }}">
        <h2 class="title inline-richtext {{ section.settings.heading_size }} text-color-{{ section.settings.heading_color }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.heading }}
        </h2>

        {%- if section.settings.blog != blank and section.settings.view_all == 'show-on-top' and section.settings.post_limit < section.settings.blog.articles_count -%}
          <a href="{{ section.settings.blog.url }}" class="{{ button_type }} small-hide medium-hide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <span>
              {{ 'sections.featured_blog.view_all' | t }}
            </span>
						{%- if button_icon -%}
              {% if settings.mood_type != 'mood5' and settings.mood_type != 'mood6' %}  
                {% render 'icon-arrow-link' %}
              {% endif %}
              {% if settings.mood_type == 'mood5' %}
                {% render 'icon-arrow-short' %}
              {% endif %}
              {% if settings.mood_type == 'mood6' %}
                {% render 'icon-arrow-mood6' %}
              {% endif %}
            {%- endif -%}
          </a>
        {%- endif -%}

        {% if section.settings.enable_slider == true %}
          <div class="slider-navigation large-up-hide">
            <div class="slider-arrow slider-arrow-prev {% if section.settings.arrows_outline %} slider-arrow--transparent {% endif %}" aria-label="Previous slide">
              {% if  settings.mood_type == 'kawai' %}
                {% render 'icon-arrow-red' %}
              {% else %}
                {% render 'icon-arrow-slider' %}
              {% endif %}
            </div>
            <div class="slider-arrow slider-arrow-next {% if section.settings.arrows_outline %} slider-arrow--transparent {% endif %}" aria-label="Next slide">
              {% if  settings.mood_type == 'kawai' %}
                {% render 'icon-arrow-red' %}
              {% else %}
                {% render 'icon-arrow-slider' %}
              {% endif %}           
            </div>
          </div>
        {% endif %}

      </div>
    {%- endif -%}

    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <div class="swiper blog-slider-{{ section.id }}{% if section.settings.enable_slider == true %} blog-slider{% endif %}" data-id="{{ section.id }}" data-loop="{% if section.settings.blog.articles_count >= section.settings.columns_desktop %}true{% else %}false{% endif %}" style="--a-line-limit: {{ section.settings.line_limit }}; --a-line-limit-heading: {{ section.settings.line_limit_heading }}">
        <div class="swiper-wrapper grid--{{ section.settings.columns_desktop }}-col">

          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div class="swiper-slide slide-{{ forloop.index }}">
              {% render 'article-card',
                blog: section.settings.blog,
                article: article,
                media_aspect_ratio: 1.8,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_mins: section.settings.show_mins,
                show_above: section.settings.show_above,
                info_label: section.settings.info_label,
                show_comments: section.settings.show_comments,
                show_excerpt: section.settings.show_excerpt,
				        show_excerpt_first: section.settings.show_excerpt_first,
                show_badge: section.settings.show_badge,
                show_badge_bottom: section.settings.show_badge_bottom,
                author_prefix: section.settings.author_prefix,
                author_link: section.settings.author_link
              %}
						</div>
					{%- endfor -%}
        </div>
      </div>

      {%- if section.settings.view_all == 'show-on-top' or section.settings.view_all == 'show-on-bottom' and section.settings.post_limit < section.settings.blog.articles_count  %}
        <div class="blog__view-all position-bottom {{ section.settings.heading_align }} {% if section.settings.view_all != 'show-on-bottom' %} large-up-hide {% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade {% endif %}>
          <a href="{{ section.settings.blog.url }}" class="{{ button_type }}">
            {{ 'sections.featured_blog.view_all' | t }}
						{%- if button_icon -%}
							{% render 'icon-arrow-link' %}
						{%- endif -%}
          </a>
        </div>
      {%- endif -%}

    {%- else -%}

      <div class="swiper blog-slider-{{ section.id }}{% if section.settings.enable_slider == true %} blog-slider{% endif %}" data-id="{{ section.id }}" data-loop="{% if section.settings.blog.articles_count >= section.settings.columns_desktop %}true{% else %}false{% endif %}">
        <div class="swiper-wrapper grid--{{ section.settings.columns_desktop }}-col">
          {%- for i in (1..3) -%}
            <div class="blog-placeholder swiper-slide slide-{{ forloop.index }}">
              <div class="placeholder media card__inner ratio">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              </div>
              <div class="blog-placeholder__content">
                <h3 class="card__heading h4">
                  {{ 'sections.featured_blog.onboarding_title' | t }}
                </h3>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>

    {%- endif -%}

  </div>
</div>

{% if section.settings.enable_slider == true and request.design_mode == false %}
  <script src="{{ 'slider-featured-blog.js' | asset_url }}" defer="defer"></script>
{% elsif section.settings.enable_slider == true and request.design_mode == true %}
  <script src="{{ 'slider-featured-blog.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.additions"
    ]
  },
  "settings": [
		{
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "shift",
          "label": "Collage"
        }
      ],
      "default": "shift",
      "label": "Layout"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "<strong>Blog posts</strong>",
      "label": "t:sections.all.heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
		{
          "value": "h4",
          "label": "Extra small"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.all.colors.label_heading",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_align.label__2"
    },
		{
      "type": "select",
      "id": "heading_bottom_space",
      "options": [
        {
          "value": "",
          "label": "Small"
        },
        {
          "value": "mb-lg-6",
          "label": "Large"
        }
      ],
      "default": "",
      "label": "Text bottom space desktop"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
		{
      "type": "header",
      "content": "Button options"
    },
		{
      "type": "select",
      "id": "button_type",
      "options": [
        {
          "value": "regular_button",
          "label": "Regular button"
        },
        {
          "value": "outline",
          "label": "Outline button"
        },
        {
          "value": "inline",
          "label": "Inline button with icon"
        }
      ],
      "default": "inline",
			"label": "Button type"
    },
		{
      "type": "select",
      "id": "view_all",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "show-on-top",
          "label": "Show on top"
        },
        {
          "value": "show-on-bottom",
          "label": "Show on bottom"
        }
      ],
      "default": "show-on-top",
			"label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "author_link",
      "label": "Label for post link",
      "default": "Read More"
    },
    {
      "type": "header",
      "content": "Slider options",
			"info": "Arrows are visible on tablet and mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slideshow",
      "default": true
    },
    {
      "type": "color",
      "id": "arrows_btn_color",
      "default": "#101010",
      "label": "Arrows color"
    },
    {
      "type": "color",
      "id": "arrows_btn_color_hover",
      "default": "#101010",
      "label": "Arrows color hover"
    },
    {
      "type": "color",
      "id": "arrows_btn_bg_color",
      "default": "#FFD265",
      "label": "Arrows background"
    },
    {
      "type": "color",
      "id": "arrows_btn_bg_color_hover",
      "default": "#FFD265",
      "label": "Arrows background hover"
    },
		{
			"type": "checkbox",
			"id": "arrows_outline",
			"label": "Enable outline on hover",
			"default": false
		},
    {
      "type": "header",
      "content": "Blog post card"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "range",
      "id": "line_limit_heading",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "Heading line limit",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_mins",
      "default": true,
      "label": "Show info"
    },
    {
      "type": "inline_richtext",
      "id": "info_label",
      "default": "6 MINS READ",
      "label": "Info label"
    },
    {
      "type": "checkbox",
      "id": "show_above",
      "default": true,
      "label": "Show date above title"
    },
    {
      "type": "checkbox",
      "id": "show_badge",
      "default": false,
      "label": "Show badge"
    },
    {
      "type": "checkbox",
      "id": "show_badge_bottom",
      "default": false,
      "label": "Show badge after image"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "Show excerpt"
    },
	{
      "type": "checkbox",
      "id": "show_excerpt_first",
      "default": false,
      "label": "Show excerpt only for first blog in desktop",
	  "info": "Work only with checkbox 'Show excerpt'"
    },
    {
      "type": "range",
      "id": "line_limit",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "Excerpt line limit",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_comments.label"
    },
    {
      "type": "inline_richtext",
      "id": "author_prefix",
      "label": "Author prefix",
      "default": "By"
    },
    {
      "type": "header",
      "content": "Section overlay"
    },
    {
      "type": "image_picker",
      "id": "image_overlay",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_2",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_2",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_3",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_3",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "header",
      "content": "t:sections.all.shape_divider.name"
    },
    {
      "type": "select",
      "id": "shape_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.shape_divider.settings.position_options.option_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.shape_divider.settings.position_options.option_2"
        },
        {
          "value": "both",
          "label": "t:sections.all.shape_divider.settings.position_options.option_3"
        }
      ],
      "default": "top",
      "label": "t:sections.all.shape_divider.settings.position"
    },
    {
      "type": "select",
      "id": "shape_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.shape_divider.settings.type_options.option_1"
        },
        {
          "value": "curve",
          "label": "t:sections.all.shape_divider.settings.type_options.option_2"
        },
        {
          "value": "curve-wide",
          "label": "Curve wide"
        },
        {
          "value": "curve-invert",
          "label": "t:sections.all.shape_divider.settings.type_options.option_3"
        },
        {
          "value": "waves",
          "label": "t:sections.all.shape_divider.settings.type_options.option_4"
        }
      ],
      "default": "none",
      "label": "t:sections.all.shape_divider.settings.type"
    },
    {
      "type": "color",
      "id": "shape_color",
      "default": "#fff",
      "label": "t:sections.all.shape_divider.settings.color"
    },
    {
      "type": "range",
      "id": "shape_width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.shape_divider.settings.width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "color-main-bg",
          "label": "t:settings_schema.colors.settings.colors_background_main.label"
        },
        {
          "value": "color-bg-1",
          "label": "t:settings_schema.colors.settings.colors_background_section_1.label"
        },
        {
          "value": "color-bg-2",
          "label": "t:settings_schema.colors.settings.colors_background_section_2.label"
        },
        {
          "value": "color-bg-3",
          "label": "t:settings_schema.colors.settings.colors_background_section_3.label"
        },
        {
          "value": "color-bg-4",
          "label": "t:settings_schema.colors.settings.colors_background_section_4.label"
        },
        {
          "value": "color-bg-5",
          "label": "t:settings_schema.colors.settings.colors_background_section_5.label"
        }
      ],
      "default": "color-main-bg",
      "label": "t:settings_schema.colors.settings.background_colors.content",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "id": "colors_background_section_gradient",
      "type": "color_background",
      "label": "t:settings_schema.colors.settings.colors_background_section_gradient.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 74
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 74
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
