<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">

{% if template != 'cart' %}
  <link rel="stylesheet" href="{{ 'component-cart-items-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
{% endif %}

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" and template != 'cart' -%}
  
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__custom-search-icon,
  .header__custom-cart-icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    display: block;
  }

  .header__account-button-label {
    display: none;
  }

  @media screen and (max-width: 749px) {
    .header {
      justify-content: flex-start;
    }

    .header > .header__heading,
    .header > .header__heading-link {
      order: 1;
      margin: 0;
      margin-right: auto;
    }

    .header > .header__search,
    .header > .header__icons {
      order: 2;
    }

    {% comment %} .header > .header__icons {
      margin-right: -1;
    } {% endcomment %}

    .header > header-drawer {
      order: 3;
      margin-left: 0;
    }

    .header > header-drawer .header__icon--menu {
      margin-right: -1.2rem;
    }
  }

  @media screen and (min-width: 990px) {
    .header.drawer-menu {
      grid-template-areas: 'heading icons navigation';
      grid-template-columns: auto 1fr auto;
      column-gap: 1rem;
    }

    .header.drawer-menu > header-drawer {
      grid-area: navigation;
      justify-self: end;
      margin-left: 0;
    }

    .header__icon--account {
      width: auto;
      min-width: 0;
      height: auto;
      order: 99;
      padding: 1rem 1.8rem;
      border-radius: 3rem;
      margin-left: 1.2rem;
      background: #6E4B7E;
      color: #fff;
      gap: 0.8rem;
    }

    .header__icon--account:hover,
    .header__icon--account:focus-visible {
      background:rgba(110, 75, 126, 0.72);
    }

    .header__icon--account .header__account-icon {
      display: none;
    }

    .header__account-button-label {
      display: inline-flex;
      align-items: center;
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 600;
      color: #fff;
    }
  }

	{%- if section.settings.separator_line_color != blank  -%}
    .header-wrapper--border-bottom {
			--outline-color: {{ section.settings.separator_line_color }};
    }
  {%- endif -%}

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 90%;
    }
    @media screen and (min-width: 750px) {
      .scrolled-past-header .header__heading-logo-wrapper {
        width: 75%;
      }
    }
  {%- endif -%}

  {%- if section.settings.sticky_header_type == 'cover-logo-size' -%}
    @media screen and (min-width: 990px) {
      .section-header.shopify-section {
        position: sticky;
        top: 0;
      }
      .section-header .header-wrapper {
        top: 3rem;
      }
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: nowrap;
  }

  summary.list-menu__item {
    padding-right: 3.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.5;
  }

  {% if section.settings.highlight_last_menu_item_gradient %}
    .mood3-mood .header__inline-menu .list-menu--inline > li:last-child > a.header__menu-item > span,
    .mood3-mood .header__inline-menu .list-menu--inline > li:last-child > header-menu > details > summary.header__menu-item > span {
      background: linear-gradient(
        90deg,
        hsla(209, 68%, 59%, 1) 0%,
        hsla(281, 25%, 39%, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  {% endif %}

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  {% if section.settings.enable_search and section.settings.search_color != blank %}
		.section-header .header-wrapper .header__search {
			--clr-icon:  {{ section.settings.search_color }};
    }	
    .section-header .header-wrapper .header .icon-search-stroke {
      fill: {{ section.settings.search_color }};
    }
    {%- if settings.mood_type == 'mood3' -%}
      .section-header .header-wrapper .header .icon-search-stroke .search-color {
        fill: {{ section.settings.search_color }};
      }
    {% endif %}
  {% endif %}

  {% if section.settings.burger_color != blank %}
    .icon-hamburger {
			--clr-icon:  {{ section.settings.burger_color}};
    }
  {% endif %}

  {% if shop.customer_accounts_enabled and section.settings.account_color != blank %}
		.section-header .header-wrapper .header__icon--account {
			--clr-icon:  {{ section.settings.account_color }};
		}		
    .section-header .header-wrapper .header .icon-account-stroke {
      fill: {{ section.settings.account_color }};
    }
    {%- if settings.mood_type == 'mood3' -%}
      .section-header .header-wrapper .header .header__icons .icon-account-stroke * {
        color: {{ section.settings.account_color }};
      }
    {% endif %}
		{%- if settings.mood_type == 'mood4' -%}
			.menu-drawer__account path {
        color: {{ section.settings.account_color }};
      }
    {% endif %}
  {% endif %}

  {% if template != 'cart' and section.settings.cart_color != blank %}
    .section-header .header-wrapper .header__icon--cart {
			--clr-icon:  {{ section.settings.cart_color }};
    }	
    .section-header .header-wrapper .header .icon-cart-stroke, 
    .section-header .header-wrapper .header .icon-cart-stroke path:not(.header-icon-color) {
      fill: {{ section.settings.cart_color }};
    }
  {% endif %}
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 749px) {
    .header__heading-logo {
      width: {{ settings.logo_width | times: 0.8 | round: 0 }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

{%- if settings.cart_type == "drawer" and template != 'cart' -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  {% if section.settings.enable_search %}
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
    </symbol>
  {% endif %}

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper {{ section.settings.background_color }} text-color-{{ section.settings.text_color }} text-color-{{ section.settings.text_color_hover }}-hover {% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  
  <header class="header header--{{ section.settings.logo_position }} page-width header-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}{% if section.settings.sticky_header_type == 'none' %} header-default{% endif %}{% if section.settings.sticky_header_type != 'cover-logo-size' %} header-not-cover{% endif %}">

    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif
      if section.settings.enable_search and section.settings.logo_position == 'middle-left'
        render 'header-search', input_id: 'Search-In-Modal', class: 'medium-hide large-up-hide'
      endif
      if section.settings.enable_search and section.settings.logo_position == 'middle-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
      if section.settings.enable_search and section.settings.logo_position == 'top-left' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-2'
      endif
      if section.settings.enable_search and section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-3'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="header-logo-title h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}
    
    {% if section.settings.menu != blank and section.settings.menu_type_desktop != 'drawer' %}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
              {%- if link.links != blank -%}
                {% liquid
                  assign hasSubSubMenu = false
                  assign hasDrawerMenu = link.title
                  assign dm_custom = section.settings.dm_custom
                  for childlink in link.links
                    if childlink.links != blank
                      assign hasSubSubMenu = true
                    endif
                  endfor
                %}
                
                {% if hasDrawerMenu == dm_custom and section.settings.menu_type_desktop == 'mega' or section.settings.menu_type_desktop == 'dropdown' %}
                  {% render 'header-drawer-menu', link: link %}
                {% elsif section.settings.menu_type_desktop == 'mega' and hasSubSubMenu == true %}
                  <header-menu>
                    {% render 'header-mega-menu', show_mm_image: sections.settings.show_mm_image ,link: link %}
                  </header-menu>
                {% elsif section.settings.menu_type_desktop == 'mega' and hasSubSubMenu == false %}
                  <header-menu>
                    {% render 'header-dropdown-menu', link: link %}
                  </header-menu>
                {% elsif section.settings.menu_type_desktop == 'dropdown' %}
                  <header-menu>
                    {% render 'header-dropdown-menu', link: link %}
                  </header-menu>
                {% endif %}

                </header-menu>
              {%- else -%}

                <a id="HeaderMenu-{{ link.handle }}" href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset {% if link.current %}menu-with-icon{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item" {% endif %}>
                    {{- link.title | escape -}}
                  </span>
                  {%- if section.settings.active_menu_icon != blank and link.current -%}
                    <img srcset="
                    {{ section.settings.active_menu_icon | image_url }}"
                    src="{{ section.settings.active_menu_icon | image_url: width: 1920 }}"
                    loading="lazy"
                    class="header__active-menu-item-icon"
                    width="auto"
                    height="auto">
                  {% endif %}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {% endif %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo | image_url: width: 600 | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
          {%- else -%}
            <span class="header-logo-title h4">
              {{- shop.name -}}
            </span>
          {%- endif -%}
        </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">

      {% if section.settings.enable_search %}
        {% render 'header-search', input_id: 'Search-In-Modal-4', class: 'small-hide' %}
      {% endif %}
	
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">

          <span class="header__account-icon">
            {% case settings.mood_type %}
              {% when 'mood3' %}
                {% render 'icon-account-style' %}
              {% when 'mood4' %}
                {% render 'icon-account-mood4' %}
              {% else %}
                {% render 'icon-account' %}
            {% endcase %}
          </span>

          <span class="header__account-button-label" aria-hidden="true">Sign in</span>

          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      {% if template != 'cart' %}
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {% if section.settings.custom_cart_icon != blank %}
            {{
              section.settings.custom_cart_icon
              | image_url: width: 40
              | image_tag:
                class: 'header__custom-cart-icon',
                widths: '20, 40',
                loading: 'eager',
                alt: 'Cart'
            }}
          {% else %}
            {% case settings.mood_type %}
              {% when 'mood3' %}
                {% render 'icon-cart-style' %}
              {% when 'mood4' %}
                {% render 'icon-cart-mood4' %}
              {% else %}
                {% render 'icon-cart' %}
            {% endcase %}
          {% endif %}

          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>

          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 1000 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {{ 'sections.header.cart_count' | t: count: cart.item_count }}
              </span>
            </div>
          {%- endif -%}
        </a>
      {% endif %}

      <div class="desktop-localization-wrapper text-color-{{ section.settings.text_color_hover }}-hover">
        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">
                  {{- 'localization.language_label' | t -}}
                </h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">
                  {{- 'localization.language_label' | t -}}
                </h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', 
                  localPosition: 'HeaderCountry' 
                  show_image: section.settings.show_image,
                  show_name: section.settings.show_name,
                  show_currency: section.settings.show_currency
                -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}
      </div>

    </div>
  </header>

</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerIsCover = this.getAttribute('data-sticky-type') === 'cover-logo-size';

      this.headerBounds = {};
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      if (this.headerIsCover) {
        this.header.classList.add('shopify-section-header-cover');
        
        const stickyHeader = document.querySelector('.header-wrapper');
        stickyHeader.classList.add('header-hovered');

        window.addEventListener('scroll', () => {
          let scrollTop =  document.documentElement.scrollTop;

          if (scrollTop > 650) {
            stickyHeader.classList.remove('header-hovered');
          } else {
            stickyHeader.classList.add('header-hovered');
          }
        });

      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      if (this.headerIsCover) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      if (this.headerIsCover) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      if (this.headerIsCover) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => {
				if (disclosure) {
					disclosure.close()
				}
			}
			);
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        },
        {
          "value": "cover-logo-size",
          "label": "Cover, reduce logo size"
        }
      ],
      "default": "cover-logo-size",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
	{
      "type": "image_picker",
      "id": "active_menu_icon",
      "label": "Active menu item icon"
    },
    {
      "type": "checkbox",
      "id": "highlight_last_menu_item_gradient",
      "default": false,
      "label": "Highlight last menu item with gradient (Mood 3)"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
		{
			"type": "color",
			"id": "separator_line_color",
			"label": "Separator line color"
		},
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "main",
      "label": "t:text.navigation_color",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "text_color_hover",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "heading-secondary",
      "label": "t:text.navigation_color_hover",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "header",
      "content": "Mega menu settings"
    },
    {
      "type": "checkbox",
      "id": "show_mm_image",
      "default": true,
      "label": "Show mega menu image"
    },
    {
      "type": "image_picker",
      "id": "mega_menu_image",
      "label": "Default mega menu image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "portrait",
          "label": "t:sections.header.settings.image_ratio.option_1"
        },
        {
          "value": "landscape",
          "label": "t:sections.header.settings.image_ratio.option_2"
        },
        {
          "value": "square",
          "label": "t:sections.header.settings.image_ratio.option_3"
        }
      ],
      "default": "landscape",
      "label": "t:sections.header.settings.image_ratio.name"
    },
    {
      "type": "checkbox",
      "id": "mm_image_shape",
      "default": true,
      "label": "Add image shape"
    },
    {
      "type": "collection",
      "id": "mm_collection",
      "label": "Promoted collection"
    },
    {
      "type": "image_picker",
      "id": "mm_overlay",
      "label": "Mega menu overlay",
	  "info": "Read more: https://docs.muup.co/article/658-header-settings"
    },
    {
      "type": "header",
      "content": "Drawer menu settings"
    },
    {
      "type": "text",
      "id": "dm_custom",
      "label": "Add custom drawer menu",
      "info": "Text menu item name to show his submenu as drawer menu"
    },
    {
      "type": "product",
      "id": "dm_product",
      "label": "Promoted product"
    },
    {
      "type": "image_picker",
      "id": "dm_image",
      "label": "Drawer menu overlay",
	  "info": "Read more: https://docs.muup.co/article/658-header-settings"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "default": true,
      "label": "Enable search"
    },
    {
      "type": "color",
      "id": "search_color",
      "label": "Search icon color"
    },
    {
      "type": "image_picker",
      "id": "custom_search_icon",
      "label": "Custom search icon"
    },
    {
      "type": "header",
      "content": "Account",
      "info": "t:sections.header.settings.header__account.info"
    },
    {
      "type": "color",
      "id": "account_color",
      "label": "Account icon color"
    },
    {
      "type": "header",
      "content": "Cart"
    },
    {
      "type": "color",
      "id": "cart_color",
      "label": "Cart icon color"
    },
    {
      "type": "image_picker",
      "id": "custom_cart_icon",
      "label": "Custom cart icon"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show country flag"
    },
    {
      "type": "checkbox",
      "id": "show_name",
      "default": false,
      "label": "Show country name"
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "default": true,
      "label": "Show currency code"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "submenu_style",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "dropdown",
      "label": "Submenu style"
    },
		{
      "type": "color",
      "id": "burger_color",
      "label": "Burger icon color"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "color-main-bg",
          "label": "t:settings_schema.colors.settings.colors_background_main.label"
        },
        {
          "value": "color-bg-1",
          "label": "t:settings_schema.colors.settings.colors_background_section_1.label"
        },
        {
          "value": "color-bg-2",
          "label": "t:settings_schema.colors.settings.colors_background_section_2.label"
        },
        {
          "value": "color-bg-3",
          "label": "t:settings_schema.colors.settings.colors_background_section_3.label"
        },
        {
          "value": "color-bg-4",
          "label": "t:settings_schema.colors.settings.colors_background_section_4.label"
        },
        {
          "value": "color-bg-5",
          "label": "t:settings_schema.colors.settings.colors_background_section_5.label"
        }
      ],
      "default": "color-main-bg",
      "label": "t:settings_schema.colors.settings.background_colors.content",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
