{{ 'sticky-add-to-cart.css' | asset_url | stylesheet_tag }}

{%- liquid
	assign featured_image = product.selected_or_first_available_variant.featured_media
	if product.selected_or_first_available_variant.featured_media == nil and product.featured_media != nil
		assign featured_image = product.featured_media
	endif
%}

<div class="sticky-atc-bar {{ section.settings.style }}" data-style="{{section.settings.style}}" data-id="{{product.id}}" data-behavior="{{section.settings.behavior}}">
  <div class="page-width">
    <sticky-atc-bar class="atc-bar-product" data-url="{{ product.url }}">
      <div class="atc-product-media">
				<div class="media media--{{ section.settings.image_ratio }}" {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>
					{% if product.selected_or_first_available_variant.featured_media != nil %}
						<img id="atc-{{ section.id }}" src="{{ product.selected_or_first_available_variant.featured_media | image_url: width: 80, format: 'webp' }}" alt="{{ product.selected_or_first_available_variant.featured_media.alt | escape }}" height="80" width="80" loading="lazy">
					{% elsif product.featured_media != nil %}
						<img id="atc-{{ section.id }}" src="{{ product.featured_media | image_url: width: 80, format: 'webp' }}" alt="{{ product.featured_media.alt | escape }}" height="80" width="80" loading="lazy">
						{% else %}
						{{ 'product-1' | placeholder_svg_tag }}
					{% endif %}
				</div>
      </div>

      <div class="atc-product-info{% if section.settings.style != 'default' %} small-hide{% endif %}">
        <p class="atc-product-title">
			{{ product.title | truncate: 40, '...' }}
          {% if section.settings.show_vendor %}
            <span class="atc-product-title-vendor">
            {{ product.vendor }}
          </span>
          {% endif %}
          {%- unless product.has_only_default_variant -%}
            <span class="atc-product-title-variant" data-sticky-variant-title>
              {{ product.selected_or_first_available_variant.title }}
            </span>
          {%- endunless -%}
        </p>

        {% render 'price',
          product: product,
          variant: product.selected_or_first_available_variant,
          show_prices: true,
          show_badges: false
        %}
        
      </div>

      <div class="atc-product-form">
        <product-form class="product-form">
          {%- assign product_form_id = 'product-form-' | append: product.id -%}

          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
            </svg>
            <span class="product-form__error-message"></span>
          </div>

          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            
              {%- unless product.has_only_default_variant -%}
                <div class="select{% if section.settings.style != 'default' %} medium-hide large-up-hide{% endif %}">
                  <select name="id" class="select__select" aria-label="Select variant">
                    {% for variant in product.variants %}
                      <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} data-price="{{ variant.price | money }}" data-variant-title="{{ variant.title | escape }}" {% if variant.featured_image != blank %}data-media="{{ variant.featured_image | image_url: width: 80, format: 'webp' }}"{% endif %}>
                        {{- variant.title -}}
                      </option>
                    {% endfor %}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              {%- endunless -%}

              {% if section.settings.style == 'default' %}
                <quantity-input class="quantity">

                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                    {% render 'icon-minus' %}
                  </button>

                  <input class="quantity__input" type="number" name="quantity" id="Quantity-{{ section.id }}-sticky"
                      min="1" value="1" form="{{ product_form_id }}" 
                      product-price="{{ product.selected_or_first_available_variant.price }}">

                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{ 'products.product.quantity.increase' | t: product: product.title | escape }}
                    </span>
                    {% render 'icon-plus' %}
                  </button>

                </quantity-input>
              {% endif %}

            <button type="submit" name="add" class="button button-add-card"
              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %} tabindex="0">
			  			<span>
									{%- if product.selected_or_first_available_variant.available -%}
										{{ 'products.product.add_to_cart' | t }}
									{%- else -%}
										{{ 'products.product.sold_out' | t }}
									{%- endif -%}
							</span>
            </button>

          {%- endform -%}
        </product-form>
      </div>

      <button class="atc-product-form-close button" aria-label="Close notification popup">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0003 1.05253L1.05334 19.9999L0.000732422 18.9473L18.9477 -0.000103459L20.0003 1.05253Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.72506e-06 1.0527L18.9471 19.9999L19.9998 18.9473L1.05262 7.70168e-05L-3.72506e-06 1.0527Z" fill="currentColor"/>
      </svg>
      </button>
    </sticky-atc-bar>
  </div>

  <script src="{{ 'sticky-add-to-cart.js' | asset_url }}" defer></script>

</div>

{% schema %}
{
  "name": "t:sections.sticky-add-to-cart.name",
  "tag": "section",
  "class": "section section-sticky-atc-bar",
  "templates": [
    "product"
  ],
  "settings": [
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "default",
          "label": "t:sections.sticky-add-to-cart.settings.style.default"
        },
        {
          "value": "right-side",
          "label": "t:sections.sticky-add-to-cart.settings.style.right-side"
        }
      ],
      "default": "default",
      "label": "t:sections.sticky-add-to-cart.settings.style.label"
    },
    {
      "type": "select",
      "id": "behavior",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "hide",
          "label": "Hide on close"
        },
        {
          "value": "hide-after-add",
          "label": "Hide after add to cart"
        }
      ],
      "default": "default",
      "label": "Section behavior"
    },
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
				},
				{
					"value": "landscape",
					"label": "Landscape"
				}
			],
			"default": "adapt",
			"label": "Image ratio"
		},
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sticky-add-to-cart.name"
    }
  ]
}
{% endschema %}