{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.53 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.53 | round: 0 }}px;
    }
  }

	@media screen and (min-width: 750px) and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

	{% if section.settings.colors_background_section_gradient != blank %}
    .section-{{ section.id }}-padding {
      background: {{ section.settings.colors_background_section_gradient }};
    }
    .section-{{ section.id }}-padding .gradient {
      background:transparent;
    }
  {% endif %}
{%- endstyle -%}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.cover_image | default: section.settings.video.preview_image
  assign poster_with_video_id = "https://img.youtube.com/vi/" | append: video_id | append: "/maxresdefault.jpg"

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif

  if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank or section.settings.shape_type != 'none'
    assign section_overlay = true
  endif
-%}

{%- capture sizes -%}
  {% if section.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}

<div class="gradient section-{{ section.id }}-padding {{ section.settings.background_color }}{% if section_overlay == true %} section-overlay{% endif %}">

  {%- if section.settings.image_overlay != blank or section.settings.image_overlay_2 != blank or section.settings.image_overlay_3 != blank -%}
    {% render 'section-overlay' %}
  {%- endif -%}

  {%- if section.settings.shape_type != 'none' -%}
    {% render 'shape',
      position: section.settings.shape_position, 
      type: section.settings.shape_type, 
      color: section.settings.shape_color,
      width: section.settings.shape_width
    %}
  {%- endif -%}

  <div class="video-section isolate{% unless section.settings.full_width %} page-width{% endunless %}">

    <div {% if section.settings.full_width %} class="page-width" {% endif %}>

			{%- if section.settings.heading != blank or section.settings.text != blank -%}
				<div class="title-wrapper {{ section.settings.heading_align }} {{ section.settings.text_bottom_space }}">
					{%- if section.settings.heading != blank -%}
						<h2 class="title inline-richtext {{ section.settings.heading_size }} text-color-{{ section.settings.heading_color }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-rotate-in{% endif %}">
							{{ section.settings.heading }}
						</h2>
					{%- endif -%}
	
					{%- if section.settings.text != blank -%}
						<div class="description rte {{ section.settings.text_body_size }} text-color-{{ section.settings.description_color }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
							{{ section.settings.text -}}
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}
      
    </div>

    <noscript>
      <div class="video-section__media"
        {% if poster != null %}
          style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
        {% endif %}>

        {%- if section.settings.video == null and section.settings.video_url != null -%}
          <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent{% if poster == null %} video-section__placeholder{% endif %}">
            {%- if poster != null -%}
              {{
                poster
                | image_url: width: 3840
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                  alt: alt
              }}
            {%- else -%}
              {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
          </a>
        {%- else -%}
          {{
            section.settings.video
            | video_tag: image_size: '1100x', loop: section.settings.enable_video_looping, controls: true, muted: false
          }}
        {%- endif -%}
      </div>
    </noscript>

    <deferred-media class="video-section__media deferred-media no-js-hidden gradient {{ section.settings.background_color }} global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-media-id="{{ video_id }}" {% if poster != null %} style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"{% endif %}>

      <button id="Deferred-Poster-Modal-{{ video_id }}" class="video-section__poster media deferred-media__poster media--landscape" type="button" aria-label="{{ alt }}">
        {%- if poster != null -%}
          {{
            poster
            | image_url: width: 3840
            | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
          }}
        {% elsif poster_with_video_id != null %}
          <img 
            src="{{ poster_with_video_id }}" 
            width="1280" height="720" 
            loading="lazy" alt="Cover Image">
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>
      </button>

      <template>
        {%- if section.settings.video == null and section.settings.video_url != null -%}
          {%- liquid
            assign loop = ''
            if section.settings.enable_video_looping
              assign loop = '&loop=1&playlist=' | append: video_id
            endif
          -%}
          {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {%- else -%}
          {{
            section.settings.video
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
        {%- endif -%}
      </template>
      
    </deferred-media>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.additions"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "<strong>Video</strong>",
      "label": "t:sections.all.heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
		{
          "value": "h4",
          "label": "Extra small"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.all.colors.label_heading",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.description"
    },
    {
      "type": "select",
      "id": "text_body_size",
      "options": [
        {
          "value": "text-body--small",
          "label": "Small"
        },
        {
          "value": "text-body--medium",
          "label": "Medium"
        },
        {
          "value": "text-body--large",
          "label": "Large"
        }
      ],
      "default": "text-body--large",
      "label": "Text size"
    },
    {
      "type": "select",
      "id": "description_color",
      "options": [
        {
          "value": "main",
          "label": "t:settings_schema.colors.settings.colors_text.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_text.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.colors.settings.colors_heading.label"
        },
        {
          "value": "heading-secondary",
          "label": "t:settings_schema.colors.settings.colors_secondary_heading.label"
        }
      ],
      "default": "main",
      "label": "t:sections.all.colors.label_text",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_align.label__2"
    },
		{
      "type": "select",
      "id": "text_bottom_space",
      "options": [
        {
          "value": "",
          "label": "Small"
        },
        {
          "value": "mb-lg-6",
          "label": "Large"
        }
      ],
      "default": "",
      "label": "Text bottom space desktop"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Section overlay"
    },
    {
      "type": "image_picker",
      "id": "image_overlay",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_2",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_2_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_2",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "image_picker",
      "id": "image_overlay_3",
      "label": "Image overlay"
    },
    {
      "type": "range",
      "id": "image_overlay_width_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_width_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image width mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_overlay_vertical_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image vertical position mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_overlay_horizontal_3_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image horizontal position mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "image_overlay_animation_3",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Animation"
    },
    {
      "type": "header",
      "content": "t:sections.all.shape_divider.name"
    },
    {
      "type": "select",
      "id": "shape_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.shape_divider.settings.position_options.option_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.shape_divider.settings.position_options.option_2"
        },
        {
          "value": "both",
          "label": "t:sections.all.shape_divider.settings.position_options.option_3"
        }
      ],
      "default": "top",
      "label": "t:sections.all.shape_divider.settings.position"
    },
    {
      "type": "select",
      "id": "shape_type",
      "options": [
				{
          "value": "none",
          "label": "t:sections.all.shape_divider.settings.type_options.option_1"
        },
        {
          "value": "curve",
          "label": "t:sections.all.shape_divider.settings.type_options.option_2"
        },
        {
          "value": "curve-wide",
          "label": "Curve wide"
        },
        {
          "value": "curve-invert",
          "label": "t:sections.all.shape_divider.settings.type_options.option_3"
        },
        {
          "value": "waves",
          "label": "t:sections.all.shape_divider.settings.type_options.option_4"
        }
      ],
      "default": "none",
      "label": "t:sections.all.shape_divider.settings.type"
    },
    {
      "type": "color",
      "id": "shape_color",
      "default": "#fff",
      "label": "t:sections.all.shape_divider.settings.color"
    },
    {
      "type": "range",
      "id": "shape_width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.shape_divider.settings.width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "color-main-bg",
          "label": "t:settings_schema.colors.settings.colors_background_main.label"
        },
        {
          "value": "color-bg-1",
          "label": "t:settings_schema.colors.settings.colors_background_section_1.label"
        },
        {
          "value": "color-bg-2",
          "label": "t:settings_schema.colors.settings.colors_background_section_2.label"
        },
        {
          "value": "color-bg-3",
          "label": "t:settings_schema.colors.settings.colors_background_section_3.label"
        },
        {
          "value": "color-bg-4",
          "label": "t:settings_schema.colors.settings.colors_background_section_4.label"
        },
        {
          "value": "color-bg-5",
          "label": "t:settings_schema.colors.settings.colors_background_section_5.label"
        }
      ],
      "default": "color-main-bg",
      "label": "t:settings_schema.colors.settings.background_colors.content",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "id": "colors_background_section_gradient",
      "type": "color_background",
      "label": "t:settings_schema.colors.settings.colors_background_section_gradient.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 74
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 74
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
