{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32, format: 'webp' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {%- liquid
      assign header_font_bold = settings.type_header_font | font_modify: 'weight', 'bold'
      assign header_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
      assign header_font_bold_italic = header_font_bold | font_modify: 'style', 'italic'

      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_bold | font_face: font_display: 'swap' }}
      {{ header_font_italic | font_face: font_display: 'swap' }}
      {{ header_font_bold_italic | font_face: font_display: 'swap' }}

      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        --font-heading-weight-medium: {{ settings.type_header_font.weight | plus: 100 | at_most: 1000 }};
        --font-heading-weight-semi-bold: {{ settings.type_header_font.weight | plus: 200 | at_most: 1000 }};
        --font-heading-weight-bold: {{ settings.type_header_font.weight | plus: 300 | at_most: 1000 }};

				--font-heading-hero-size: {{ settings.heading_hero_size | divided_by: 10.00 }}rem;
        --font-heading-hero-size-mb: {{ settings.heading_hero_size_mb | divided_by: 10.00 }}rem;
				--font-heading-1-size: {{ settings.heading_1_size | divided_by: 10.00 }}rem;
        --font-heading-1-size-mb: {{ settings.heading_1_size_mb | divided_by: 10.00 }}rem;
        --font-heading-2-size: {{ settings.heading_2_size | divided_by: 10.00 }}rem;
        --font-heading-2-size-mb: {{ settings.heading_2_size_mb | divided_by: 10.00 }}rem;
        --font-heading-3-size: {{ settings.heading_3_size | divided_by: 10.00 }}rem;
        --font-heading-3-size-mb: {{ settings.heading_3_size_mb | divided_by: 10.00 }}rem;
        --font-heading-4-size: {{ settings.heading_4_size | divided_by: 10.00 }}rem;
        --font-heading-4-size-mb: {{ settings.heading_4_size_mb | divided_by: 10.00 }}rem;
        --font-heading-5-size: {{ settings.heading_5_size | divided_by: 10.00 }}rem;
        --font-heading-5-size-mb: {{ settings.heading_5_size_mb | divided_by: 10.00 }}rem;
        --font-heading-6-size: {{ settings.heading_6_size | divided_by: 10.00 }}rem;
        --font-heading-6-size-mb: {{ settings.heading_6_size_mb | divided_by: 10.00 }}rem;

        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-secondary-text: {{ settings.colors_secondary_text.red }}, {{ settings.colors_secondary_text.green }}, {{ settings.colors_secondary_text.blue }};
        --color-base-heading: {{ settings.colors_heading.red }}, {{ settings.colors_heading.green }}, {{ settings.colors_heading.blue }};
        --color-secondary-heading: {{ settings.colors_secondary_heading.red }}, {{ settings.colors_secondary_heading.green }}, {{ settings.colors_secondary_heading.blue }};

        --colors-background-main: {{ settings.colors_background_main.red }}, {{ settings.colors_background_main.green }}, {{ settings.colors_background_main.blue }};
        --colors-background-section-1: {{ settings.colors_background_section_1.red }}, {{ settings.colors_background_section_1.green }}, {{ settings.colors_background_section_1.blue }};
        --colors-background-section-2: {{ settings.colors_background_section_2.red }}, {{ settings.colors_background_section_2.green }}, {{ settings.colors_background_section_2.blue }};
        --colors-background-section-3: {{ settings.colors_background_section_3.red }}, {{ settings.colors_background_section_3.green }}, {{ settings.colors_background_section_3.blue }};
        --colors-background-section-4: {{ settings.colors_background_section_4.red }}, {{ settings.colors_background_section_4.green }}, {{ settings.colors_background_section_4.blue }};
        --colors-background-section-5: {{ settings.colors_background_section_5.red }}, {{ settings.colors_background_section_5.green }}, {{ settings.colors_background_section_5.blue }};

        --media-radius: {{ settings.media_radius }}px;
        --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --buttons-font-size: {{ settings.buttons_font_size | divided_by: 10.00 }}rem;
        --buttons-font-size-mobile: {{ settings.buttons_font_size_mobile | divided_by: 10.00 }}rem;
        --buttons-font-weight: {{ settings.button_font_weight }};
        --buttons-text-transform: {{ settings.button_text_transform }};
        --buttons-border-size: {{ settings.buttons_border_thickness }}px;
        --buttons-border-radius: {{ settings.buttons_radius }}px;

        --button-color-text: {{ settings.button_color_text.red }}, {{ settings.button_color_text.green }}, {{ settings.button_color_text.blue }};
        --button-color-bg: {{ settings.button_color_bg.red }}, {{ settings.button_color_bg.green }}, {{ settings.button_color_bg.blue }};
        --button-color-border: {{ settings.button_color_border.red }}, {{ settings.button_color_border.green }}, {{ settings.button_color_border.blue }};
        --button-color-text-hover: {{ settings.button_color_text_hover.red }}, {{ settings.button_color_text_hover.green }}, {{ settings.button_color_text_hover.blue }};
        --button-color-bg-hover: {{ settings.button_color_bg_hover.red }}, {{ settings.button_color_bg_hover.green }}, {{ settings.button_color_bg_hover.blue }};
        --button-color-border-hover: {{ settings.button_color_border_hover.red }}, {{ settings.button_color_border_hover.green }}, {{ settings.button_color_border_hover.blue }};
        --inline-button-color: {{ settings.inline_button_color.red }}, {{ settings.inline_button_color.green }}, {{ settings.inline_button_color.blue }};

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient gift-card {{ settings.mood_type }}-mood">
    <header>
      <div class="gift-card__price left">
				<h2 class="h2">
          {{ shop.name }}
        </h2>
        <h1 class="text-color-heading hxl">
          Your Gift Card
        </h1>

        <p>
          {% if settings.currency_code_enabled %}
            {{ gift_card.balance | money_with_currency }}
          {% else %}
            {{ gift_card.balance | money }}
          {% endif %}
        </p>

        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="badge badge--expired">
            {{ 'gift_cards.issued.expired' | t }}
          </p>
        {%- endif -%}

      </div>

      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p class="gift-card__text">
          {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
        </p>
      {% endif %}
    </header>

    <main>
      <div class="gift-card__wrapper">
        <div class="gift-card__image-wrapper">
          {% if gift_card.product.variants %}
  
            {% for variant in gift_card.product.variants %}
              {%- liquid
                assign variant_price = variant.price | money
                assign page_price = gift_card.initial_value | money
              -%}
  
              {% if variant_price == page_price and variant.featured_media != blank %}
                <img src="{{ variant | image_url: width: 750, format: 'webp' }}" alt="{{ shop.name }}" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
              {% elsif variant_price == page_price and variant.featured_media == blank %}
                <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="{{ shop.name }}" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
              {%- endif -%}
            {% endfor %}
  
          {% else %}
            <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="{{ shop.name }}" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
  
          {% endif %}
        </div>
  
        <div class="gift-card__info-wrapper">
  
          <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
  
          <p id="gift-card-code" class="gift-card__number">
            {{ gift_card.code | format_code }}
          </p>
  
          <div class="gift-card__buttons no-print">
            <span class="gift-card__copy-success form__message" role="status"></span>
  
            <template>
              {%- render 'icon-success' -%}
              {{ 'gift_cards.issued.copy_code_success' | t }}
            </template>

            <button class="button gift-card__copy-button">
              {{ 'gift_cards.issued.copy_code' | t }}
            </button>

            <div class="button-wrapp">
              <button class="print-button" onclick="window.print()">
                {{ 'gift_cards.issued.print_code' | t }}
              </button>

              <a href="{{ shop.url }}" class="button button--secondary" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">
                {{ 'gift_cards.issued.shop_link' | t }}
              </a>
            </div>
          </div>

          {%- if gift_card.pass_url -%}
            <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet no-print">
              <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
                width="120" height="40"
                alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
            </a>
          {%- endif -%}
        </div>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">
        {{ 'accessibility.link_messages.new_window' | t }}
      </span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 72,
    height: 72,
    imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-button')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>